h1 {
  color: rgb(190,199,239);
}

div.overlay{
  background-color: rgba(100,100,100,.333)

}

body {
  background-image: url("../home_img.jpg");
  background-alt: "lark on a tree branch";
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0px 84px;
  background-size: 100% 732px;
}
/*/<img class="home_img" src="{{url_for('static',filename='/home_img.jpg')}}"
         alt="" data-image-width="1280" data-image-height="853">





